* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  color: #bfbfbf; }

a {
  text-decoration: none;
  background-color: transparent;
  font-size: 18px; }

.btn {
  outline: 0;
  border: 0;
  box-sizing: border-box;
  padding: 10px 1em;
  color: #ffff !important; }

.btn-success {
  background-color: #2acfcf !important; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em; }

@media (min-width: 1281px) {
  .row {
    display: flex; }
  .container {
    padding-right: 4em;
    padding-left: 4em; } }

nav {
  display: block;
  padding-top: 1em; }
  nav .nac {
    background-color: #3b3054;
    border-radius: 15px;
    padding: 2em 1em;
    margin-top: 1em; }
  nav ul {
    display: block;
    margin-top: 0.3em; }
    nav ul .nav-items {
      display: block; }
    nav ul li {
      list-style-type: none;
      text-align: center;
      padding-bottom: 1.3em; }
      nav ul li button {
        border-radius: 35px;
        width: 100%; }
      nav ul li a {
        color: white;
        font-weight: bold;
        font-size: 1.3em;
        text-transform: capitalize; }
      nav ul li a#signup {
        color: #ffffff; }
  nav .nav-login {
    margin-left: auto; }

#banner {
  margin-top: 2em;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: -999 !important; }
  #banner .col-5 {
    order: 1; }
  #banner .col-7 {
    order: 2; }
  #banner #descriptionheader {
    padding-top: 5em;
    margin-bottom: 4em; }
    #banner #descriptionheader button {
      border-radius: 35px; }
  #banner #illustration {
    width: 400px;
    margin-left: 20px; }
  #banner #subtext {
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 1em; }
    #banner #subtext br {
      display: none; }
  #banner #started {
    margin-top: 2em;
    padding: 1em 2em; }
    #banner #started a {
      color: #ffffff;
      font-size: 18px;
      font-weight: 500; }
  #banner h1 {
    font-size: 1.5em;
    color: #232127; }

#search {
  background-color: #e6e6e6;
  width: 100%;
  margin-top: 7em;
  position: relative; }
  #search .advancedstats {
    text-align: center;
    margin-top: 8em; }
    #search .advancedstats h1 {
      color: #232127; }
    #search .advancedstats #advancedsubtext {
      color: #9e9aa7;
      line-height: 2rem; }
  #search .card:not([id="lastcard"])::after {
    position: absolute;
    content: "";
    width: 13px;
    bottom: -99px;
    right: 46%;
    height: 100px;
    background-color: #2acfcf; }
  #search #cardrow {
    margin-top: 2em;
    z-index: 999999 !important; }
    #search #cardrow .card {
      margin-top: 1.5em;
      height: 250px;
      background-color: #ffffff;
      width: 100%;
      margin-bottom: 5em;
      position: relative;
      overflow: visible;
      z-index: 1;
      padding: 1em; }
      #search #cardrow .card #second {
        margin-top: 1em !important; }
      #search #cardrow .card #lastcard {
        margin-top: 4em; }
      #search #cardrow .card .iconbox {
        border-radius: 50%;
        background-color: #3b3054;
        width: 70px;
        height: 70px;
        text-align: center;
        padding-top: 15px;
        position: absolute;
        left: 40%;
        top: -20px;
        z-index: 2 !important; }
      #search #cardrow .card .infobox {
        margin-top: 50px;
        text-align: center; }
        #search #cardrow .card .infobox h3 {
          color: #232127; }
        #search #cardrow .card .infobox p.content {
          margin-top: 10px; }

.searchbg {
  background: url("../images/bg-shorten-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: grid;
  justify-content: center;
  padding: 1em;
  background-color: #3b3054;
  border-radius: 15px;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0%; }
  .searchbg input {
    margin-right: 2em;
    border-radius: 10px;
    border: 0;
    padding: 1em;
    font-size: 18px;
    outline: 0;
    width: 100%;
    font-weight: 500;
    text-transform: capitalize; }
    .searchbg input :focus {
      border: 4px solid red; }
  .searchbg button {
    margin-top: 2em;
    border-radius: 10px; }
    .searchbg button a {
      color: #ffffff; }

#boost {
  background: url("../images/bg-boost-mobile.svg");
  background-color: #3b3054;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: grid;
  justify-content: center;
  height: 200px; }
  #boost .row {
    display: flex;
    justify-content: center;
    align-items: center; }
    #boost .row .boostcontent h1 {
      color: #ffffff;
      font-size: 1.5em; }
  #boost .boostbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em; }
    #boost .boostbtn #booststarted {
      width: 200px;
      border-radius: 50px;
      padding: 1em; }
      #boost .boostbtn #booststarted a {
        color: white;
        font-weight: 700; }

footer {
  background-color: #232127;
  padding: 2em 0;
  text-align: center; }
  footer #footercontent {
    display: block; }
    footer #footercontent div {
      margin-top: 2em; }
      footer #footercontent div h4 {
        color: #ffffff; }
      footer #footercontent div .listitem {
        margin-top: 1em; }
        footer #footercontent div .listitem p {
          margin-bottom: 1em; }
    footer #footercontent .social img {
      margin-right: 20px; }

@media (min-width: 360px) and (max-width: 370px) and (orientation: portrait) {
  .searchbg {
    background: url("../images/bg-shorten-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: grid;
    justify-content: center;
    padding: 1em;
    background-color: #3b3054;
    border-radius: 15px;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 155%;
    height: 150px;
    z-index: 5; } }

@media (min-width: 375px) and (max-width: 380px) and (orientation: portrait) {
  .searchbg {
    background: url("../images/bg-shorten-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: grid;
    justify-content: center;
    padding: 1em;
    background-color: #3b3054;
    border-radius: 15px;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: -300px;
    height: 150px;
    z-index: 5; } }

@media (min-width: 410px) and (max-width: 420px) and (orientation: portrait) {
  .searchbg {
    background: url("../images/bg-shorten-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: grid;
    justify-content: center;
    padding: 1em;
    background-color: #3b3054;
    border-radius: 15px;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: -370;
    height: 150px;
    z-index: 5; } }

@media (min-width: 992px) {
  .logo,
  li:not([id="butt"]) {
    padding-top: 10px; }
  nav {
    display: flex; }
    nav .nac {
      display: flex;
      width: 100%;
      background-color: transparent;
      padding: 0;
      margin: 0; }
      nav .nac hr {
        display: none; }
    nav ul {
      display: flex;
      margin-left: 2em;
      margin-top: 0.3em; }
      nav ul .nav-items {
        display: flex; }
      nav ul li {
        list-style-type: none;
        padding-right: 2em; }
        nav ul li a {
          color: #9e9aa7;
          font-weight: bold;
          font-size: 18px; }
    nav .nav-login {
      margin-left: auto; }
  #banner {
    text-align: justify;
    padding-left: 3em;
    z-index: -1;
    height: 75vh;
    margin-top: 2em;
    overflow: hidden; }
    #banner .col-5 {
      order: 2; }
    #banner .col-7 {
      order: 1; }
    #banner #subtext {
      margin: 0;
      font-size: 18px;
      line-height: 2rem; }
      #banner #subtext br {
        display: block; }
    #banner #illustration {
      width: 550px;
      position: absolute;
      right: -60; }
    #banner h1 {
      font-size: 5em; }
  #search #cardrow {
    justify-content: space-between; }
    #search #cardrow .card {
      width: 33%;
      margin-right: 1.5em;
      padding: 1em;
      height: 230px; }
      #search #cardrow .card .iconbox {
        border-radius: 50%;
        background-color: #3b3054;
        width: 70px;
        height: 70px;
        text-align: center;
        padding-top: 15px;
        position: absolute;
        left: 20px;
        top: -20px;
        z-index: 3 !important; }
      #search #cardrow .card .infobox {
        margin-top: 50px;
        text-align: left; }
        #search #cardrow .card .infobox p.content {
          margin-top: 10px; }
  .searchbg {
    background: url("../images/bg-shorten-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #3b3054;
    display: grid;
    grid-template-columns: 900px 200px;
    justify-content: center;
    padding: 2em 0;
    position: absolute;
    bottom: -130px;
    height: 120px;
    z-index: 99 !important; }
    .searchbg input {
      border-radius: 10px;
      border: 0;
      padding: 1em;
      font-size: 18px;
      outline: 0; }
    .searchbg button {
      margin-top: 0 !important;
      margin-left: 2em; }
  .card:not([id="lastcard"])::after {
    width: 80px !important;
    top: 100px !important;
    height: 10px !important;
    right: -80px !important; }
  #boost {
    background: url("../images/bg-boost-desktop.svg");
    background-color: #3b3054; }
    #boost .row .boostcontent h1 {
      font-size: 2.5em; }
  footer {
    background-color: #232127;
    padding: 2em 0;
    text-align: left; }
    footer #footercontent {
      display: grid;
      grid-template-columns: 400px auto auto auto auto; }
      footer #footercontent div {
        margin-top: 0; } }

@media (min-width: 1024px) and (max-width: 1280px) {
  body {
    width: 100%; }
  #banner {
    height: 40vh; }
    #banner h1 {
      font-size: 4em; }
    #banner #descriptionheader {
      padding-right: 600px; }
    #banner #illustration {
      width: 450px; }
  #cardrow {
    display: flex; }
  .searchbg {
    background: url("../images/bg-shorten-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #3b3054;
    display: grid;
    grid-template-columns: 900px 200px;
    justify-content: center;
    padding: 2em;
    position: absolute;
    top: 55%;
    right: 70%;
    height: 120px;
    width: 90%; }
    .searchbg input {
      width: 600px;
      margin-left: 8em; }
    .searchbg .btn {
      position: relative;
      width: 100%;
      margin-right: 90em; }
  footer {
    background-color: #232127;
    padding: 2em 0;
    text-align: left; }
    footer #footercontent {
      display: grid;
      grid-template-columns: 350px auto auto auto auto; }
      footer #footercontent div {
        margin-top: 0; } }
